.cgnds { 
  line-height: 49px;
  border-bottom-width: 39px;
  border-right-width: 42px;
  padding-bottom: 39px;
  margin-top: 84px;
  border-bottom-width: 1px;
  margin-left: 98px;
  border-right-width: 77px;
  border-left-width: 34px;
  padding-right: 80px;
  line-height: 14px;
  padding-top: 65px;
  padding-top: 50px;
  margin-left: 74px;
  padding-right: 57px;
  border-bottom-width: 63px;
  border-left-width: 49px;
  margin-left: 38px;
  margin-left: 81px;
  padding-top: 51px;
  padding-top: 31px;
  border-top-width: 11px;
  border-left-width: 65px;
  padding-bottom: 65px;
  padding-top: 40px;
  font-size: 64px;
  padding-left: 59px;
}
