.cgnds { 
  line-height: 49px;
  border-bottom-width: 39px;
  border-right-width: 42px;
  padding-bottom: 39px;
  border-bottom-width: 82px;
  margin-top: 80px;
  padding-top: 86px;
  margin-left: 42px;
  border-right-width: 16px;
  margin-bottom: 11px;
  margin-bottom: 32px;
  padding-top: 64px;
  font-size: 86px;
  margin-bottom: 62px;
}
