.wtgwp { 
  padding-left: 71px;
  margin-top: 65px;
  padding-right: 0px;
  margin-top: 22px;
  border-bottom-width: 25px;
  border-right-width: 77px;
  border-top-width: 47px;
  padding-right: 67px;
  margin-right: 64px;
  padding-right: 52px;
}
