.cgnds { 
  line-height: 49px;
  border-bottom-width: 39px;
  border-right-width: 42px;
  padding-bottom: 39px;
  margin-top: 84px;
  border-bottom-width: 1px;
  margin-left: 98px;
  border-right-width: 77px;
  border-left-width: 34px;
  padding-right: 80px;
  line-height: 14px;
  font-size: 26px;
  line-height: 19px;
  line-height: 79px;
  margin-right: 36px;
  margin-bottom: 98px;
  margin-bottom: 65px;
  padding-top: 16px;
  padding-right: 58px;
  border-right-width: 76px;
  padding-left: 78px;
}
