.wtgwp { 
  padding-left: 71px;
  margin-top: 65px;
  padding-right: 0px;
  margin-top: 22px;
  border-bottom-width: 25px;
  border-right-width: 77px;
  border-top-width: 47px;
  padding-right: 67px;
  margin-right: 64px;
  padding-left: 88px;
  margin-right: 31px;
  margin-top: 68px;
  padding-top: 34px;
  font-size: 86px;
  margin-bottom: 47px;
  padding-bottom: 64px;
  margin-right: 25px;
  line-height: 42px;
  padding-bottom: 62px;
}
